.text-Large{
    -fx-text-fill: "DBDBDB";
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
}
.text-small{
    -fx-text-fill: "DBDBDB";
    -fx-font-size: 12px;
    -fx-font-family: "Roboto";
}

.background{
    -fx-background-color: "#1B1E22";
}
.highlight{
    -fx-background-color: "#585858";
}
.box{
    -fx-background-color: "#3E4046";
}
.border{
    -fx-border-color: "#000000";
    -fx-border-width: 1;
}
.fill-light{
    -fx-fill: "DBDBDB";
    -fx-border-color: "#000000";
    -fx-border-width: 1;
}

.highlight-green{
    -fx-fill: "#54ED1F";
    -fx-background-color: "#54ED1F";
    -fx-border-color: "#000000";
    -fx-border-width: 1;
    -fx-text-fill: "#000000";
}

.highlight-red {
    -fx-fill: "#BA0C0C";
    -fx-background-color: "#BA0C0C";
    -fx-border-color: "#000000";
    -fx-border-width: 1;
    -fx-text-fill: "DBDBDB";
}
