.text-Large{
    -fx-text-fill: "#000000";
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
}

.background{
    -fx-background-color: "#E2E2E2;
}
.highlight{
    -fx-background-color: "#F4F4F4";
}
.box{
    -fx-background-color: "#FFFFFF";
    -fx-border-color: "#000000";
}